*.jl.cov
*.jl.*.cov
*.jl.mem
sftp-config.json
*.sublime-project
*.sublime-workspace
*.code-workspace
*.gz
*.jld2

**/Manifest.toml

# Python
**/venv/**
**.pyc
**/__pycache__/**
**/.ipynb_checkpoints/**
